
api/.vs/WebApplication1/FileContentIndex/6d9cd366-31e1-4789-9603-3a9c72513a0e.vsidx
api/.vs/WebApplication1/FileContentIndex/8a00142d-1788-4e6c-885e-50cb61fb1de0.vsidx
api/WebApplication1/bin/Debug/net8.0/WebApplication1.dll
api/WebApplication1/obj/Debug/net8.0/WebApplication1.sourcelink.json
